<p style="margin: 60px">
  <mat-horizontal-stepper
    class="grayed-background"
    [linear]="isLinear"
    #stepper
  >
    <mat-step>
      <ng-template matStepLabel>
        Indicator details
      </ng-template>
      <app-indicator-details class="stepper-content"></app-indicator-details>
      <div class="row justify-content-between mt-1">
        <div class="col-4">
          <button disabled mat-button matStepperPrevious>
            Back
          </button>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <button mat-flat-button color="primary" (click)="saveForm()">
            Save
          </button>
          <button mat-button (click)="resetForm()">Reset</button>
        </div>

        <div class="col-4">
          <button mat-button matStepperNext style="float: right">
            Next
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Edit Expression</ng-template>
      <app-function-editor
        class="stepper-content"
        [editorMode]="'Expression'"
        [fields]="fields$ | async"
      >
      </app-function-editor>
      <div class="row justify-content-between mt-1">
        <div class="col-4">
          <button mat-button matStepperPrevious>
            Back
          </button>
        </div>

        <div class="col-4 d-flex justify-content-center">
          <button mat-flat-button color="primary" (click)="saveForm()">
            Save
          </button>
          <button mat-button (click)="resetForm()">Reset</button>
        </div>

        <div class="col-4">
          <button mat-button matStepperNext style="float: right">
            Next
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Edit Filter</ng-template>
      <app-function-editor
        class="stepper-content"
        [editorMode]="'Filter'"
      ></app-function-editor>
      <div class="row justify-content-between mt-1">
        <div class="col-4">
          <button mat-button matStepperPrevious>
            Back
          </button>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <button mat-flat-button color="primary" (click)="saveForm()">
            Save
          </button>
          <button mat-button (click)="resetForm()">Reset</button>
        </div>

        <div class="col-4">
          <button disabled mat-button matStepperNext style="float: right">
            Next
          </button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</p>
